
@{
    ViewBag.Title = "Haqqinda";
    Layout = "~/Views/Shared/_Test.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Haqqimizda</h3>
            <img src="~/web4/" alt="" />
            <p>Lorem ipsum dolor </p>

        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="wrap">
        <div class="copy">
            <p>&copy; 2013 Easy-Trip. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
        </div>
    </div>
</div>

