
<div class="content-form">
        <h3>Bir rey bildir</h3>
        <form method="post">
            <input type="text" placeholder=" Blog id" name="BLOGID"value="@ViewBag.deger" required />
            <input type="text" placeholder=" Istifadeci adi" name="KULANICIADI" required />
            <input type="text"placeholder=" Mail adres" name="MAIL" required />
         
            <textarea placeholder="Rey"name="YORUM"></textarea>
            <input type="submit" value="SEND" />
        </form>
    </div>
